[phases.setup]
aptPkgs = [
  "libcairo2",
  "libpango-1.0-0",
  "libpangocairo-1.0-0",
  "libgdk-pixbuf2.0-0",
  "libffi8",
  "libglib2.0-0",
  "libgobject-2.0-0",
  "shared-mime-info",
  "fonts-liberation"
]

[start]
cmd = "uvicorn main:app --host 0.0.0.0 --port $PORT"

