[providers]
python = "3.10"

[phases.setup]
nixPkgs = ["cairo", "pango", "gdk-pixbuf", "libffi", "gobject-introspection"]

[phases.install]
dependsOn = ["setup"]

[start]
cmd = "uvicorn main:app --host 0.0.0.0 --port $PORT"

